@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  font-family: 'Playfair Display', serif;
}
.container{
    padding:2rem 10rem;
    width:100%;
    height:90vh;
    background-color: #FFF2D8;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}
.left{
width:55%;
height:100%;   
}
h1.title{
font-size:4.1rem;
color:#101010;
}
.right{
width:40%;
height:100%;
}
.right img{
position: relative;
width:430px;
top:-10px;
}
h5.caption{
width:80%;
line-height:1.3rem;
font-family: 'Montserrat', sans-serif;
color:#111;
padding:20px 0;
}
button.cta{
    all:unset;
    width:fit-content;
    padding: 10px;
    background-color: #ffcc3e;
    box-shadow: 5px 5px 0px #000;
    transition: box-shadow .12s ease-in;
    cursor:pointer;
    color:#251b00;
    font-size:1.4rem;
}
button.cta:hover{
box-shadow: -5px -5px 0px #000;
color:#000;
}

.services{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
div.ourteam{
    width:50%;
    display:flex;
    flex-direction: column;
    line-height: .1rem;
    padding-top:2rem;
}
div.ourteam h5{
position:relative;
    padding: 0;
    top:2px;
}

ul.imageList{
list-style:none;
display:flex;
}

ul.imageList li img{
    width:20px;
    border-radius:50%;
    height:20px;
}
div.reach{
    width:50%;
    display:flex;
    align-items: center;
    flex-direction:column;
}
div.reach h1{
    text-align: left;
}
div.reach h5{
    text-align: right;
    position:relative;
    padding: 0;
    top:2px;left:-35px;
}
div.link a{
    color:#111;
    display:block;
    margin-top:1rem;
}